.fl-builder-row-settings
  .fl-field-responsive-setting
  input[name="bg_position_custom_left"],
.fl-builder-row-settings
  .fl-field-responsive-setting
  input[name="bg_position_custom_right"] {
  display: none !important;
}
.fl-content-slider .fl-slide-content {
	padding: 0px!important;
}
.fl-page-bar .message {
	line-height: normal!important;		
}
.fl-node-5cb4cd72dd75d .fl-bg-video-audio {
  display: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  width: 20px;
}
.fl-node-5cb4cd72dd75d .fl-bg-video-audio .fl-audio-control {
  font-size: 20px;
}
.fl-node-5cb4cd72dd75d .fl-bg-video-audio .fa-times {
  font-size: 10px;
  vertical-align: middle;
  position: absolute;
  top: 5px;
  left: 11px;
  bottom: 0;
}
.fl-node-5cb4cd72dd75d > .fl-row-content-wrap {
  background-color: #fff;
}
.fl-node-5cb4cd72dd75d .fl-row-content {
  max-width: 1250px;
}
.fl-node-5cb4cd72dd75d > .fl-row-content-wrap {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.fl-node-5cb4cd72dd75d > .fl-row-content-wrap {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
.fl-builder-row-settings
  .fl-field-responsive-setting
  input[name="bg_position_custom_left"],
.fl-builder-row-settings
  .fl-field-responsive-setting
  input[name="bg_position_custom_right"] {
  display: none !important;
}
.fl-node-5ce281a5d3f90 .fl-bg-video-audio {
  display: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  width: 20px;
}
.fl-node-5ce281a5d3f90 .fl-bg-video-audio .fl-audio-control {
  font-size: 20px;
}
.fl-node-5ce281a5d3f90 .fl-bg-video-audio .fa-times {
  font-size: 10px;
  vertical-align: middle;
  position: absolute;
  top: 5px;
  left: 11px;
  bottom: 0;
}
.fl-node-5ce281a5d3f90 > .fl-row-content-wrap {
  background-color: #094368;
}
.fl-node-5ce281a5d3f90 .fl-row-fixed-width,
.fl-node-5ce281a5d3f90.fl-row-fixed-width {
  max-width: 1250px;
}
.fl-node-5cb4cd72df3ad {
  width: 25%;
}
.fl-node-5cb4cd72df3b3 {
  width: 67%;
}
.fl-node-5ce27ff0aabb7 {
  width: 8%;
}
.fl-node-5ce281a5d984f {
  width: 100%;
}
.fl-node-5cb4cd7fa5137 {
  width: 100%;
}
.fl-node-5cb4cd7fa5137 .uabb-photo-content .uabb-photo-img {
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.fl-node-5cb4cd7fa5137 .uabb-photo-content .uabb-photo-img {
  opacity: 1;
}
.fl-node-5cb4cd7fa5137 .uabb-photo-content .uabb-photo-img:hover {
  opacity: 0.8;
}
@media (max-width: 768px) {
  .fl-node-5cb4cd7fa5137 .uabb-photo-mob-align-center {
    text-align: center;
  }
}
.fl-node-5cb4cd7fa5137 > .fl-module-content {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.uabb-creative-menu li,
.uabb-creative-menu ul {
  list-style: none !important;
  margin: 0;
  padding: 0;
}
.uabb-creative-menu .menu:after,
.uabb-creative-menu .menu:before {
  content: "";
  display: table;
  clear: both;
}
.uabb-creative-menu .menu {
  position: relative;
  padding-left: 0;
}
.uabb-creative-menu li {
  position: relative;
}
.uabb-creative-menu a {
  display: block;
  line-height: 1;
  text-decoration: none;
}
.uabb-creative-menu .menu a {
  box-shadow: none;
}
.uabb-creative-menu a:hover {
  text-decoration: none;
}
.uabb-creative-menu .sub-menu {
  min-width: 220px;
  margin: 0;
}
.uabb-creative-menu-horizontal {
  font-size: 0;
}
.uabb-creative-menu-horizontal li,
.uabb-creative-menu-horizontal > li {
  font-size: medium;
}
.uabb-creative-menu-horizontal
  > li
  > .uabb-has-submenu-container
  > a
  > span.menu-item-text {
  display: inline-block;
}
.fl-module[data-node]
  .uabb-creative-menu
  .uabb-creative-menu-expanded
  .sub-menu {
  background-color: transparent;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.uabb-creative-menu .uabb-has-submenu .sub-menu:focus,
.uabb-creative-menu .uabb-has-submenu-container:focus,
.uabb-creative-menu .uabb-has-submenu:focus {
  outline: 0;
}
.uabb-creative-menu .uabb-has-submenu-container {
  position: relative;
}
.uabb-creative-menu
  .uabb-creative-menu-accordion
  .uabb-has-submenu
  > .sub-menu {
  display: none;
}
.uabb-creative-menu .uabb-menu-toggle {
  cursor: pointer;
}
.uabb-creative-menu .uabb-toggle-arrows .uabb-menu-toggle:before,
.uabb-creative-menu .uabb-toggle-none .uabb-menu-toggle:before {
  border-color: #333;
}
.uabb-creative-menu .uabb-menu-expanded .uabb-menu-toggle {
  display: none;
}
.uabb-creative-menu-mobile-toggle {
  position: relative;
  padding: 8px;
  background-color: transparent;
  border: none;
  color: #333;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  z-index: 5;
}
.uabb-creative-menu-mobile-toggle.text {
  width: 100%;
  text-align: center;
}
.uabb-creative-menu-mobile-toggle.hamburger
  .uabb-creative-menu-mobile-toggle-label,
.uabb-creative-menu-mobile-toggle.hamburger-label
  .uabb-creative-menu-mobile-toggle-label {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}
.uabb-creative-menu-mobile-toggle.hamburger .uabb-svg-container,
.uabb-creative-menu-mobile-toggle.hamburger-label .uabb-svg-container {
  display: inline-block;
  position: relative;
  width: 1.4em;
  height: 1.4em;
  vertical-align: middle;
}
.uabb-creative-menu-mobile-toggle.hamburger .hamburger-menu,
.uabb-creative-menu-mobile-toggle.hamburger-label .hamburger-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.uabb-creative-menu-mobile-toggle.hamburger .hamburger-menu rect,
.uabb-creative-menu-mobile-toggle.hamburger-label .hamburger-menu rect {
  fill: currentColor;
}
.uabb-creative-menu.off-canvas .uabb-off-canvas-menu .uabb-menu-close-btn {
  width: 20px;
  height: 10px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  display: block;
  z-index: 99;
}
.uabb-creative-menu .uabb-menu-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  overflow-y: auto;
  overflow-x: hidden;
}
.uabb-creative-menu .uabb-menu-overlay > ul.menu {
  text-align: center;
  position: relative;
  top: 50%;
  width: 40%;
  height: 60%;
  margin: 0 auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.uabb-creative-menu .uabb-overlay-fade {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
}
.uabb-creative-menu.menu-open .uabb-overlay-fade {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.uabb-creative-menu .uabb-overlay-slide-down {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
  transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}
.uabb-creative-menu.menu-open .uabb-overlay-slide-down {
  visibility: visible;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
}
.uabb-creative-menu .uabb-overlay-scale {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}
.uabb-creative-menu.menu-open .uabb-overlay-scale {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
}
.uabb-creative-menu .uabb-overlay-door {
  visibility: hidden;
  width: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: width 0.5s 0.3s, visibility 0s 0.8s;
  transition: width 0.5s 0.3s, visibility 0s 0.8s;
}
.uabb-creative-menu.menu-open .uabb-overlay-door {
  visibility: visible;
  width: 100%;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}
.uabb-creative-menu .uabb-overlay-door > ul.menu {
  left: 0;
  right: 0;
  transform: translateY(-50%);
}
.uabb-creative-menu .uabb-overlay-door .uabb-menu-close-btn,
.uabb-creative-menu .uabb-overlay-door > ul {
  opacity: 0;
  -webkit-transition: opacity 0.3s 0.5s;
  transition: opacity 0.3s 0.5s;
}
.uabb-creative-menu.menu-open .uabb-overlay-door .uabb-menu-close-btn,
.uabb-creative-menu.menu-open .uabb-overlay-door > ul {
  opacity: 1;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.uabb-creative-menu.menu-close .uabb-overlay-door .uabb-menu-close-btn,
.uabb-creative-menu.menu-close .uabb-overlay-door > ul {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.uabb-creative-menu
  .uabb-menu-overlay
  .uabb-toggle-arrows
  .uabb-has-submenu-container
  a
  > span {
  padding-right: 0 !important;
}
.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn {
  position: absolute;
  display: block;
  width: 55px;
  height: 45px;
  right: 40px;
  top: 40px;
  overflow: hidden;
  border: none;
  outline: 0;
  z-index: 100;
  font-size: 30px;
  cursor: pointer;
  background-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn:after,
.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn:before {
  content: "";
  position: absolute;
  left: 50%;
  width: 2px;
  height: 40px;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}
.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn:after {
  -webkit-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
}
.uabb-creative-menu .uabb-off-canvas-menu .menu {
  margin-top: 40px;
}
.uabb-creative-menu.off-canvas .uabb-clear {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99998;
  background: rgba(0, 0, 0, 0);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-left {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate3d(-320px, 0, 0);
}
.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-right {
  position: fixed;
  top: 0;
  right: 0;
  transform: translate3d(320px, 0, 0);
}
.uabb-creative-menu .uabb-off-canvas-menu {
  z-index: 99999;
  width: 300px;
  height: 100%;
  background: #373a47;
  padding: 60px 20px;
  -webkit-transition: all 0.8s;
  transition: transform 0.8s ease;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  perspective: 1000;
  backface-visibility: hidden;
}
.menu-open.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-left {
  transform: translate3d(0, 0, 0);
  transition: transform 0.8s ease;
}
.uabb-creative-menu .menu > li > .uabb-has-submenu-container a,
.uabb-creative-menu .menu > li > a {
  outline: 0;
}
.menu-open.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-right {
  transform: translate3d(0, 0, 0);
  transition: transform 0.8s ease;
}
.uabb-creative-menu.off-canvas.menu-open .uabb-clear {
  visibility: visible;
  opacity: 1;
}
@media (max-width: 992px) {
  .uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn {
    right: 20px;
    top: 20px;
  }
}
.fl-node-5cb4cda127687 .uabb-creative-menu .menu {
  text-align: right;
}
.uabb-creative-menu-accordion ul.sub-menu li .uabb-has-submenu-container a,
.uabb-creative-menu-accordion ul.sub-menu li a,
.uabb-creative-menu-expanded ul.sub-menu li .uabb-has-submenu-container a,
.uabb-creative-menu-expanded ul.sub-menu li a {
  text-indent: 20px;
  direction: rtl;
}
.uabb-creative-menu-accordion ul.sub-menu li li .uabb-has-submenu-container a,
.uabb-creative-menu-accordion ul.sub-menu li li a,
.uabb-creative-menu-expanded ul.sub-menu li li .uabb-has-submenu-container a,
.uabb-creative-menu-expanded ul.sub-menu li li a {
  text-indent: 30px;
  direction: rtl;
}
.uabb-creative-menu-accordion
  ul.sub-menu
  li
  li
  li
  .uabb-has-submenu-container
  a,
.uabb-creative-menu-accordion ul.sub-menu li li li a,
.uabb-creative-menu-expanded ul.sub-menu li li li .uabb-has-submenu-container a,
.uabb-creative-menu-expanded ul.sub-menu li li li a {
  text-indent: 40px;
  direction: rtl;
}
.uabb-creative-menu-accordion
  ul.sub-menu
  li
  li
  li
  li
  .uabb-has-submenu-container
  a,
.uabb-creative-menu-accordion ul.sub-menu li li li li a,
.uabb-creative-menu-expanded
  ul.sub-menu
  li
  li
  li
  li
  .uabb-has-submenu-container
  a,
.uabb-creative-menu-expanded ul.sub-menu li li li li a {
  text-indent: 50px;
  direction: rtl;
}
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .menu.uabb-creative-menu-horizontal
  > li
  > .uabb-has-submenu-container
  a
  span.uabb-menu-toggle,
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .menu.uabb-creative-menu-horizontal
  > li
  > a
  span.uabb-menu-toggle {
  padding-left: 10px;
  float: right;
}
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .menu.uabb-creative-menu-horizontal
  .uabb-menu-toggle {
  padding-left: 10px;
  float: right;
}
.fl-node-5cb4cda127687 .uabb-creative-menu .menu > li {
  margin-top: 0;
  margin-bottom: 5px;
  margin-left: 15px;
  margin-right: 0;
}
.fl-node-5cb4cda127687 .uabb-creative-menu .uabb-menu-toggle:before {
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  z-index: 1;
  font-size: inherit;
  line-height: 0;
  font-weight: 900;
}
.fl-node-5cb4cda127687 .menu .uabb-has-submenu .sub-menu {
  display: none;
}
.fl-node-5cb4cda127687 .uabb-creative-menu li:first-child {
  border-top: none;
}
@media only screen and (max-width: 768px) {
  .fl-node-5cb4cda127687 .uabb-creative-menu .menu {
    margin-top: 20px;
  }
  .fl-node-5cb4cda127687
    .uabb-creative-menu
    .uabb-menu-overlay
    .uabb-menu-close-btn,
  .fl-node-5cb4cda127687
    .uabb-creative-menu
    .uabb-off-canvas-menu
    .uabb-menu-close-btn {
    display: block;
  }
  .fl-node-5cb4cda127687 .uabb-creative-menu .menu {
    text-align: center;
  }
  .fl-node-5cb4cda127687 .uabb-creative-menu .menu > li {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .fl-node-5cb4cda127687
    .uabb-creative-menu
    .menu
    > li
    > .uabb-has-submenu-container
    a
    span.menu-item-text
    > span.uabb-menu-toggle,
  .fl-node-5cb4cda127687
    .uabb-creative-menu
    .menu
    > li
    > a
    span.uabb-menu-toggle {
    padding-left: 10px;
    float: right;
  }
  .fl-node-5cb4cda127687 .uabb-creative-menu .menu .uabb-menu-toggle {
    padding-left: 10px;
    float: right;
  }
}
@media only screen and (min-width: 769px) {
  .fl-node-5cb4cda127687 .menu > li {
    display: inline-block;
  }
  .fl-node-5cb4cda127687 .menu li {
    border-left: none;
    border-top: none;
  }
  .fl-node-5cb4cda127687 .menu li li {
    border-top: none;
    border-left: none;
  }
  .fl-node-5cb4cda127687 .menu .uabb-has-submenu .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 16;
    visibility: hidden;
    opacity: 0;
    text-align: left;
    transition: all 0.3s ease-in;
  }
  .fl-node-5cb4cda127687 .uabb-has-submenu .uabb-has-submenu .sub-menu {
    top: 0;
    left: 100%;
  }
  .fl-node-5cb4cda127687
    .uabb-creative-menu
    .uabb-has-submenu:focus
    > .sub-menu,
  .fl-node-5cb4cda127687
    .uabb-creative-menu
    .uabb-has-submenu:hover
    > .sub-menu {
    display: block;
  }
  .fl-node-5cb4cda127687
    .uabb-creative-menu
    .uabb-has-submenu:focus
    > .sub-menu,
  .fl-node-5cb4cda127687
    .uabb-creative-menu
    .uabb-has-submenu:hover
    > .sub-menu {
    visibility: visible;
    opacity: 1;
  }
  .fl-node-5cb4cda127687
    .menu
    .uabb-has-submenu.uabb-menu-submenu-right
    .sub-menu {
    top: 100%;
    left: inherit;
    right: 0;
  }
  .fl-node-5cb4cda127687
    .menu
    .uabb-has-submenu
    .uabb-has-submenu.uabb-menu-submenu-right
    .sub-menu {
    top: 0;
    left: inherit;
    right: 100%;
  }
  .fl-node-5cb4cda127687 .uabb-creative-menu-mobile-toggle {
    display: none;
  }
}
.fl-node-5cb4cda127687
  .uabb-creative-menu.uabb-menu-default
  .menu
  > li
  > .uabb-has-submenu-container
  > a,
.fl-node-5cb4cda127687 .uabb-creative-menu.uabb-menu-default .menu > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 5px;
}
.fl-node-5cb4cda127687
  .fl-module-content
  .uabb-creative-menu
  .menu
  > li
  > .uabb-has-submenu-container
  > a
  span.menu-item-text,
.fl-node-5cb4cda127687
  .fl-module-content
  .uabb-creative-menu
  .menu
  > li
  > a
  span.menu-item-text {
  width: 100%;
  color: #094368;
}
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .uabb-toggle-arrows
  .uabb-menu-toggle:before,
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .uabb-toggle-none
  .uabb-menu-toggle:before {
  color: #094368;
}
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .uabb-toggle-arrows
  .uabb-creative-menu.current-menu-ancestor
  .uabb-menu-toggle:before,
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .uabb-toggle-arrows
  .uabb-creative-menu.current-menu-item
  .uabb-menu-toggle:before,
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .uabb-toggle-arrows
  li:hover
  .uabb-menu-toggle:before,
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .uabb-toggle-none
  li:hover
  .uabb-menu-toggle:before {
  color: #fca75f;
}
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .sub-menu
  > li.current-menu-ancestor
  > .uabb-has-submenu-container
  > a,
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .sub-menu
  > li.current-menu-ancestor
  > a,
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .sub-menu
  > li.current-menu-item
  > .uabb-has-submenu-container
  > a,
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .sub-menu
  > li.current-menu-item
  > a {
  background-color: #fca75f;
}
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .menu
  > li.current-menu-ancestor
  > .uabb-has-submenu-container
  > a
  span.menu-item-text,
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .menu
  > li.current-menu-ancestor
  > .uabb-has-submenu-container
  > a
  span.menu-item-text
  > i,
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .menu
  > li.current-menu-item
  > .uabb-has-submenu-container
  > a
  span.menu-item-text,
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .menu
  > li.current-menu-item
  > a
  span.menu-item-text,
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .menu
  > li.focus
  > .uabb-has-submenu-container
  > a
  span.menu-item-text,
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .menu
  > li.focus
  > a
  span.menu-item-text,
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .menu
  > li:focus
  > .uabb-has-submenu-container
  > a
  span.menu-item-text,
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .menu
  > li:hover
  > .uabb-has-submenu-container
  > a
  span.menu-item-text,
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .menu
  > li
  > a:focus
  span.menu-item-text,
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .menu
  > li
  > a:hover
  span.menu-item-text {
  color: #fca75f;
}
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .sub-menu
  > li.current-menu-ancestor
  > .uabb-has-submenu-container
  > a
  span.menu-item-text,
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .sub-menu
  > li.current-menu-ancestor
  > .uabb-has-submenu-container
  > a
  span.menu-item-text
  > i,
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .sub-menu
  > li.current-menu-ancestor
  > a
  span.menu-item-text,
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .sub-menu
  > li.current-menu-ancestor
  > a
  span.menu-item-text
  > i,
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .sub-menu
  > li.current-menu-item
  > .uabb-has-submenu-container
  > a
  span.menu-item-text,
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .sub-menu
  > li.current-menu-item
  > .uabb-has-submenu-container
  > a
  span.menu-item-text
  > i,
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .sub-menu
  > li.current-menu-item
  > a
  span.menu-item-text,
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .sub-menu
  > li.current-menu-item
  > a
  span.menu-item-text
  > i {
  color: #fff;
}
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .uabb-toggle-arrows
  .uabb-has-submenu-container.focus
  > .uabb-menu-toggle:before,
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .uabb-toggle-arrows
  .uabb-has-submenu-container:hover
  > .uabb-menu-toggle:before,
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .uabb-toggle-arrows
  li.current-menu-item
  > .uabb-has-submenu-container
  > .uabb-menu-toggle:before,
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .uabb-toggle-none
  .uabb-has-submenu-container.focus
  > .uabb-menu-toggle:before,
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .uabb-toggle-none
  .uabb-has-submenu-container:hover
  > .uabb-menu-toggle:before,
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .uabb-toggle-none
  li.current-menu-item
  > .uabb-has-submenu-container
  > .uabb-menu-toggle:before {
  color: #fca75f;
}
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .sub-menu
  > li
  > .uabb-has-submenu-container
  > a,
.fl-node-5cb4cda127687 .uabb-creative-menu .sub-menu > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #094368;
}
.fl-node-5cb4cda127687
  .uabb-creative-menu:not(.off-canvas):not(.full-screen):not(.menu-item)
  .uabb-creative-menu
  .sub-menu {
  min-width: 250px;
}
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .sub-menu
  > li.uabb-creative-menu
  > a
  > span,
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .sub-menu
  > li
  > .uabb-has-submenu-container
  > a
  > span {
  color: #fff;
}
.fl-node-5cb4cda127687 .uabb-creative-menu .sub-menu > li {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #000430;
}
.fl-node-5cb4cda127687 .uabb-creative-menu .sub-menu > li:last-child {
  border-bottom: none;
}
.fl-node-5cb4cda127687
  .uabb-creative-menu
  ul.sub-menu
  > li.uabb-creative-menu.uabb-has-submenu
  li
  li:first-child,
.fl-node-5cb4cda127687
  .uabb-creative-menu
  ul.sub-menu
  > li.uabb-creative-menu.uabb-has-submenu
  li:first-child {
  border-top: none;
}
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .menu.uabb-creative-menu-expanded
  .sub-menu
  > li
  > .sub-menu
  > li:first-child,
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .sub-menu
  > li.uabb-active
  > .sub-menu
  > li:first-child {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #000430;
}
.fl-node-5cb4cda127687 .uabb-creative-menu .sub-menu {
  -webkit-box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.3);
}
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .sub-menu
  > li:last-child
  > .uabb-has-submenu-container
  > a,
.fl-node-5cb4cda127687 .uabb-creative-menu .sub-menu > li:last-child > a {
  border: 0;
}
.fl-node-5cb4cda127687
  .uabb-creative-menu
  ul.sub-menu
  > li.menu-item.uabb-creative-menu
  > .uabb-has-submenu-container
  > a:focus
  span.menu-item-text,
.fl-node-5cb4cda127687
  .uabb-creative-menu
  ul.sub-menu
  > li.menu-item.uabb-creative-menu
  > .uabb-has-submenu-container
  > a:hover
  span.menu-item-text,
.fl-node-5cb4cda127687
  .uabb-creative-menu
  ul.sub-menu
  > li.menu-item.uabb-creative-menu
  > a:focus
  span.menu-item-text,
.fl-node-5cb4cda127687
  .uabb-creative-menu
  ul.sub-menu
  > li.menu-item.uabb-creative-menu
  > a:hover
  span.menu-item-text {
  color: #fff;
}
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .sub-menu
  > li
  > .uabb-has-submenu-container
  > a:focus,
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .sub-menu
  > li
  > .uabb-has-submenu-container
  > a:hover,
.fl-node-5cb4cda127687 .uabb-creative-menu .sub-menu > li > a:focus,
.fl-node-5cb4cda127687 .uabb-creative-menu .sub-menu > li > a:hover {
  background-color: #fca75f;
}
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .uabb-toggle-arrows
  .sub-menu
  li
  .uabb-menu-toggle:before,
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .uabb-toggle-none
  .sub-menu
  li
  .uabb-menu-toggle:before {
  color: #fff;
}
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .uabb-toggle-arrows
  .sub-menu
  li:hover
  .uabb-menu-toggle:before,
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .uabb-toggle-none
  .sub-menu
  li:hover
  .uabb-menu-toggle:before {
  color: #fff;
}
.fl-node-5cb4cda127687 .uabb-creative-menu-mobile-toggle-container,
.fl-node-5cb4cda127687
  .uabb-creative-menu-mobile-toggle-container
  > .uabb-creative-menu-mobile-toggle.text {
  text-align: center;
}
.fl-node-5cb4cda127687 .uabb-creative-menu-mobile-toggle rect {
  fill: #094368;
}
@media only screen and (max-width: 768px) {
  .fl-node-5cb4cda127687 .uabb-creative-menu .uabb-menu-overlay .menu {
    margin-top: 40px;
  }
  .fl-node-5cb4cda127687 .uabb-creative-menu .menu {
    text-align: center;
  }
  .fl-node-5cb4cda127687
    .uabb-creative-menu
    .menu
    > li
    > .uabb-has-submenu-container
    a
    span.menu-item-text
    > span.uabb-menu-toggle,
  .fl-node-5cb4cda127687
    .uabb-creative-menu
    .menu
    > li
    > a
    span.uabb-menu-toggle {
    padding-left: 10px;
    float: right;
  }
  .fl-node-5cb4cda127687 .uabb-creative-menu .menu .uabb-menu-toggle {
    padding-left: 10px;
    float: right;
  }
}
@media only screen and (max-width: 992px) {
  .fl-node-5cb4cda127687
    .uabb-creative-menu
    .menu
    > li
    > .uabb-has-submenu-container
    a
    span.menu-item-text
    > span.uabb-menu-toggle,
  .fl-node-5cb4cda127687
    .uabb-creative-menu
    .menu
    > li
    > a
    span.uabb-menu-toggle {
    padding-left: 10px;
    float: right;
  }
  .fl-node-5cb4cda127687 .uabb-creative-menu .menu .uabb-menu-toggle {
    padding-left: 10px;
    float: right;
  }
}
@media only screen and (max-width: 768px) {
  .fl-node-5cb4cda127687 .uabb-creative-menu .menu {
    text-align: center;
  }
  .fl-node-5cb4cda127687
    .uabb-creative-menu
    .menu
    > li
    > .uabb-has-submenu-container
    a
    span.menu-item-text
    > span.uabb-menu-toggle,
  .fl-node-5cb4cda127687
    .uabb-creative-menu
    .menu
    > li
    > a
    span.uabb-menu-toggle {
    float: right;
  }
  .fl-node-5cb4cda127687 .uabb-creative-menu .menu .uabb-menu-toggle {
    float: right;
  }
}
.fl-node-5cb4cda127687 .uabb-creative-menu .uabb-menu-overlay {
  background-color: #094368;
}
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .menu
  > li
  > .uabb-has-submenu-container
  > a,
.fl-node-5cb4cda127687 .uabb-creative-menu.full-screen .menu > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 20px;
}
.fl-node-5cb4cda127687 .uabb-creative-menu.full-screen .menu {
  text-align: center;
}
.fl-node-5cb4cda127687 .uabb-creative-menu.full-screen .menu > li,
.fl-node-5cb4cda127687 .uabb-creative-menu.full-screen .sub-menu > li {
  clear: both;
  display: block;
}
.fl-node-5cb4cda127687 .uabb-creative-menu.full-screen .sub-menu {
  width: 100%;
}
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .menu.uabb-toggle-arrows
  > li
  > .uabb-has-submenu-container
  a
  span.menu-item-text
  > span.uabb-menu-toggle,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .menu.uabb-toggle-arrows
  > li
  > a
  span.uabb-menu-toggle {
  padding-left: 10px;
  float: right;
}
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .menu.uabb-toggle-arrows
  .uabb-menu-toggle {
  padding-left: 10px;
  float: right;
}
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .menu
  li
  .uabb-has-submenu-container
  a
  span.menu-item-text,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .menu
  li
  a
  span.menu-item-text {
  width: 100%;
  color: #fff;
}
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .menu
  > li
  > .uabb-has-submenu-container
  > a,
.fl-node-5cb4cda127687 .uabb-creative-menu.full-screen .menu > li > a,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .sub-menu
  > li
  > .uabb-has-submenu-container
  > a,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .sub-menu
  > li
  > .uabb-has-submenu-container
  > a:focus,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .sub-menu
  > li
  > .uabb-has-submenu-container
  > a:hover,
.fl-node-5cb4cda127687 .uabb-creative-menu.full-screen .sub-menu > li > a,
.fl-node-5cb4cda127687 .uabb-creative-menu.full-screen .sub-menu > li > a:focus,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .sub-menu
  > li
  > a:hover {
  background-color: transparent;
}
.fl-node-5cb4cda127687 .uabb-creative-menu.full-screen .sub-menu li:last-child {
  border-bottom: none;
}
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .menu
  li
  .uabb-has-submenu-container
  a:focus
  span.menu-item-text,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .menu
  li
  .uabb-has-submenu-container
  a:focus
  span.menu-item-text
  > i,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .menu
  li
  .uabb-has-submenu-container
  a:hover
  span.menu-item-text,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .menu
  li
  .uabb-has-submenu-container
  a:hover
  span.menu-item-text
  > i,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .menu
  > li:focus
  > .uabb-has-submenu-container
  > a
  span.menu-item-text,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .menu
  > li:focus
  > .uabb-has-submenu-container
  > a
  span.menu-item-text
  > i,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .menu
  > li:focus
  > a
  span.menu-item-text,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .menu
  > li:focus
  > a
  span.menu-item-text
  > i,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .menu
  > li:hover
  > .uabb-has-submenu-container
  > a
  span.menu-item-text,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .menu
  > li:hover
  > .uabb-has-submenu-container
  > a
  span.menu-item-text
  > i,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .menu
  > li:hover
  > a
  span.menu-item-text,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .menu
  > li:hover
  > a
  span.menu-item-text
  > i,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .menu
  > li
  > a:focus
  span.menu-item-text,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .menu
  > li
  > a:focus
  span.menu-item-text
  > i,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .menu
  > li
  > a:hover
  span.menu-item-text,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .menu
  > li
  > a:hover
  span.menu-item-text
  > i,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .sub-menu
  > li
  > a:focus
  span.menu-item-text,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .sub-menu
  > li
  > a:focus
  span.menu-item-text
  > i,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .sub-menu
  > li
  > a:hover
  span.menu-item-text,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .sub-menu
  > li
  > a:hover
  span.menu-item-text
  > i {
  color: #fca75f;
}
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .menu
  > li.current-menu-ancestor
  > .uabb-has-submenu-container
  > a
  span.menu-item-text,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .menu
  > li.current-menu-ancestor
  > .uabb-has-submenu-container
  > a
  span.menu-item-text
  > i,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .menu
  > li.current-menu-ancestor
  > a
  span.menu-item-text,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .menu
  > li.current-menu-ancestor
  > a
  span.menu-item-text
  > i,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .menu
  > li.current-menu-item
  > .uabb-has-submenu-container
  > a
  span.menu-item-text,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .menu
  > li.current-menu-item
  > .uabb-has-submenu-container
  > a
  span.menu-item-text
  > i,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .menu
  > li.current-menu-item
  > a
  span.menu-item-text,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .menu
  > li.current-menu-item
  > a
  span.menu-item-text
  > i,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .sub-menu
  > li.current-menu-ancestor
  > .uabb-has-submenu-container
  > a
  span.menu-item-text,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .sub-menu
  > li.current-menu-ancestor
  > .uabb-has-submenu-container
  > a
  span.menu-item-text
  i,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .sub-menu
  > li.current-menu-ancestor
  > a
  span.menu-item-text,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .sub-menu
  > li.current-menu-ancestor
  > a
  span.menu-item-text
  > i,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .sub-menu
  > li.current-menu-item
  > .uabb-has-submenu-container
  > a
  span.menu-item-text,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .sub-menu
  > li.current-menu-item
  > .uabb-has-submenu-container
  > a
  span.menu-item-text
  i,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .sub-menu
  > li.current-menu-item
  > a
  span.menu-item-text,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .sub-menu
  > li.current-menu-item
  > a
  span.menu-item-text
  > i {
  color: #fca75f;
}
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .uabb-menu-overlay
  .uabb-menu-close-btn {
  width: 30px;
  height: 30px;
}
.fl-node-5cb4cda127687 .uabb-creative-menu .uabb-overlay-corner,
.fl-node-5cb4cda127687 .uabb-creative-menu .uabb-overlay-door,
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .uabb-overlay-door
  .uabb-menu-close-btn,
.fl-node-5cb4cda127687 .uabb-creative-menu .uabb-overlay-door > ul,
.fl-node-5cb4cda127687 .uabb-creative-menu .uabb-overlay-fade,
.fl-node-5cb4cda127687 .uabb-creative-menu .uabb-overlay-scale,
.fl-node-5cb4cda127687 .uabb-creative-menu .uabb-overlay-slide-down,
.fl-node-5cb4cda127687 .uabb-creative-menu.menu-open .uabb-overlay-corner,
.fl-node-5cb4cda127687 .uabb-creative-menu.menu-open .uabb-overlay-door,
.fl-node-5cb4cda127687 .uabb-creative-menu.menu-open .uabb-overlay-fade,
.fl-node-5cb4cda127687 .uabb-creative-menu.menu-open .uabb-overlay-scale,
.fl-node-5cb4cda127687 .uabb-creative-menu.menu-open .uabb-overlay-slide-down {
  transition-duration: 0.5s;
}
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .uabb-menu-overlay
  .uabb-menu-close-btn:after,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .uabb-menu-overlay
  .uabb-menu-close-btn:before {
  height: 30px;
  background-color: #fff;
}
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .uabb-toggle-arrows
  .sub-menu
  .uabb-menu-toggle:before,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .uabb-toggle-arrows
  .uabb-menu-toggle:before,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .uabb-toggle-none
  .sub-menu
  .uabb-menu-toggle:before,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .uabb-toggle-none
  .uabb-menu-toggle:before {
  color: #fff;
}
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .uabb-toggle-arrows
  .uabb-creative-menu.current-menu-ancestor
  .uabb-menu-toggle:before,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .uabb-toggle-arrows
  .uabb-creative-menu.current-menu-item
  .uabb-menu-toggle:before,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .uabb-toggle-arrows
  li:focus
  .uabb-has-submenu-container
  .uabb-menu-toggle:before,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .uabb-toggle-arrows
  li:focus
  .uabb-menu-toggle:before,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .uabb-toggle-arrows
  li:hover
  .uabb-has-submenu-container
  .uabb-menu-toggle:before,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .uabb-toggle-arrows
  li:hover
  .uabb-menu-toggle:before {
  color: #fca75f;
}
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .uabb-toggle-plus
  .uabb-creative-menu.current-menu-ancestor
  .uabb-menu-toggle:before,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .uabb-toggle-plus
  .uabb-creative-menu.current-menu-item
  .uabb-menu-toggle:before,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .uabb-toggle-plus
  li:focus
  .uabb-has-submenu-container
  .uabb-menu-toggle:before,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .uabb-toggle-plus
  li:focus
  .uabb-menu-toggle:before,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .uabb-toggle-plus
  li:hover
  .uabb-has-submenu-container
  .uabb-menu-toggle:before,
.fl-node-5cb4cda127687
  .uabb-creative-menu.full-screen
  .uabb-toggle-plus
  li:hover
  .uabb-menu-toggle:before {
  color: #fca75f;
}
@media only screen and (max-width: 768px) {
  .fl-node-5cb4cda127687 .uabb-creative-menu.uabb-menu-default {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .fl-node-5cb4cda127687
    .uabb-creative-menu.full-screen
    .uabb-menu-overlay
    ul.menu {
    width: 80%;
  }
}
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .menu
  > li
  > .uabb-has-submenu-container
  > a,
.fl-node-5cb4cda127687 .uabb-creative-menu .menu > li > a {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0.5px;
  text-align: right;
  text-transform: uppercase;
}
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .menu
  > li
  > .uabb-has-submenu-container
  > a,
.fl-node-5cb4cda127687 .uabb-creative-menu .menu > li > a {
  border-style: solid;
  border-width: 0;
  background-clip: padding-box;
}
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .sub-menu
  > li
  > .uabb-has-submenu-container
  > a,
.fl-node-5cb4cda127687 .uabb-creative-menu .sub-menu > li > a {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .uabb-creative-menu-horizontal
  .sub-menu,
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .uabb-creative-menu-vertical
  .sub-menu {
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
}
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .uabb-creative-menu-accordion.menu
  > .uabb-has-submenu
  > .sub-menu,
.fl-node-5cb4cda127687
  .uabb-creative-menu
  .uabb-creative-menu-expanded.menu
  > .uabb-has-submenu
  > .sub-menu {
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
}
.fl-node-5cb4cda127687 .uabb-creative-menu-mobile-toggle {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.5px;
  text-align: right;
  text-transform: uppercase;
}
.fl-node-5cb4cda127687 > .fl-module-content {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
@media (max-width: 768px) {
  .fl-module-icon {
    text-align: center;
  }
}
.fl-node-5ce281505eab9 .fl-module-content .fl-icon i,
.fl-node-5ce281505eab9 .fl-module-content .fl-icon i:before {
  color: #094368;
}
.fl-node-5ce281505eab9 .fl-module-content .fl-icon i,
.fl-node-5ce281505eab9 .fl-module-content .fl-icon i:before {
  font-size: 30px;
}
.fl-node-5ce281505eab9 .fl-module-content .fl-icon-text {
  height: 52.5px;
}
.fl-node-5ce281505eab9.fl-module-icon {
  text-align: left;
}
.fl-node-5ce2813a0dfb3 > .fl-module-content {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.fl-node-5cb4cd72dd75d .uabb-top-row-separator.uabb-has-svg svg {
  width: calc(100% + 1.5px);
}
.fl-node-5cb4cd72dd75d .uabb-bottom-row-separator.uabb-has-svg svg {
  width: calc(100% + 1.5px);
}
.fl-node-5cb4cd72dd75d #uabb-top-slit2,
.fl-node-5cb4cd72dd75d #uabb-top-slit3 {
  fill: #afafaf;
}
.fl-node-5cb4cd72dd75d #uabb-bottom-slit2,
.fl-node-5cb4cd72dd75d #uabb-bottom-slit3 {
  fill: #afafaf;
}
.fl-node-5cb4cd72dd75d #uabb-top-pine-tree-separator2 {
  fill: #fff;
  stroke: #fff;
}
.fl-node-5cb4cd72dd75d #uabb-bottom-pine-tree-separator2 {
  fill: #fff;
  stroke: #fff;
}
.fl-node-5cb4cd72dd75d #uabb-top-pine-tree-bend-separator2 {
  fill: #fff;
  stroke: #fff;
}
.fl-node-5cb4cd72dd75d #uabb-bottom-pine-tree-bend-separator2 {
  fill: #fff;
  stroke: #fff;
}
.fl-node-5cb4cd72dd75d #uabb-top-slime-separator2 {
  fill: #fff;
  stroke: #fff;
}
.fl-node-5cb4cd72dd75d #uabb-bottom-slime-separator2 {
  fill: #fff;
  stroke: #fff;
}
.fl-node-5cb4cd72dd75d #uabb-top-wave-slide-separator2 {
  fill: #fff;
  stroke: #fff;
}
.fl-node-5cb4cd72dd75d #uabb-bottom-wave-slide-separator2 {
  fill: #fff;
  stroke: #fff;
}
.fl-node-5cb4cd72dd75d .uabb-top-row-separator {
  z-index: 9;
}
.fl-node-5cb4cd72dd75d .uabb-bottom-row-separator {
  z-index: 9;
}
@media (max-width: 992px) {
  .fl-node-5cb4cd72dd75d .uabb-top-row-separator.uabb-has-svg svg {
    width: 100%;
  }
  .fl-node-5cb4cd72dd75d .uabb-bottom-row-separator.uabb-has-svg svg {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .fl-node-5cb4cd72dd75d .uabb-top-row-separator.uabb-has-svg svg {
    width: 100%;
  }
  .fl-node-5cb4cd72dd75d .uabb-bottom-row-separator.uabb-has-svg svg {
    width: 100%;
  }
}
.fl-node-5ce281a5d3f90 .uabb-top-row-separator.uabb-has-svg svg {
  width: calc(100% + 1.5px);
}
.fl-node-5ce281a5d3f90 .uabb-bottom-row-separator.uabb-has-svg svg {
  width: calc(100% + 1.5px);
}
.fl-node-5ce281a5d3f90 #uabb-top-slit2,
.fl-node-5ce281a5d3f90 #uabb-top-slit3 {
  fill: #afafaf;
}
.fl-node-5ce281a5d3f90 #uabb-bottom-slit2,
.fl-node-5ce281a5d3f90 #uabb-bottom-slit3 {
  fill: #afafaf;
}
.fl-node-5ce281a5d3f90 #uabb-top-pine-tree-separator2 {
  fill: #fff;
  stroke: #fff;
}
.fl-node-5ce281a5d3f90 #uabb-bottom-pine-tree-separator2 {
  fill: #fff;
  stroke: #fff;
}
.fl-node-5ce281a5d3f90 #uabb-top-pine-tree-bend-separator2 {
  fill: #fff;
  stroke: #fff;
}
.fl-node-5ce281a5d3f90 #uabb-bottom-pine-tree-bend-separator2 {
  fill: #fff;
  stroke: #fff;
}
.fl-node-5ce281a5d3f90 #uabb-top-slime-separator2 {
  fill: #fff;
  stroke: #fff;
}
.fl-node-5ce281a5d3f90 #uabb-bottom-slime-separator2 {
  fill: #fff;
  stroke: #fff;
}
.fl-node-5ce281a5d3f90 #uabb-top-wave-slide-separator2 {
  fill: #fff;
  stroke: #fff;
}
.fl-node-5ce281a5d3f90 #uabb-bottom-wave-slide-separator2 {
  fill: #fff;
  stroke: #fff;
}
.fl-node-5ce281a5d3f90 .uabb-top-row-separator {
  z-index: 9;
}
.fl-node-5ce281a5d3f90 .uabb-bottom-row-separator {
  z-index: 9;
}
@media (max-width: 992px) {
  .fl-node-5ce281a5d3f90 .uabb-top-row-separator.uabb-has-svg svg {
    width: 100%;
  }
  .fl-node-5ce281a5d3f90 .uabb-bottom-row-separator.uabb-has-svg svg {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .fl-node-5ce281a5d3f90 .uabb-top-row-separator.uabb-has-svg svg {
    width: 100%;
  }
  .fl-node-5ce281a5d3f90 .uabb-bottom-row-separator.uabb-has-svg svg {
    width: 100%;
  }
}
.fl-col-group-equal-height.fl-col-group-align-bottom .fl-col-content {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
}
.uabb-module-content h1,
.uabb-module-content h2,
.uabb-module-content h3,
.uabb-module-content h4,
.uabb-module-content h5,
.uabb-module-content h6 {
  margin: 0;
  clear: both;
}
.fl-module-content a,
.fl-module-content a:focus,
.fl-module-content a:hover {
  text-decoration: none;
}
.uabb-row-separator {
  position: absolute;
  width: 100%;
  left: 0;
}
.uabb-top-row-separator {
  top: 0;
  bottom: auto;
}
.uabb-bottom-row-separator {
  top: auto;
  bottom: 0;
}
.fl-builder-content-editing .fl-visible-medium-mobile.uabb-row,
.fl-builder-content-editing .fl-visible-medium.uabb-row,
.fl-builder-content-editing .fl-visible-mobile.uabb-row {
  display: none !important;
}
@media (max-width: 992px) {
  .fl-builder-content-editing .fl-visible-desktop.uabb-row,
  .fl-builder-content-editing .fl-visible-mobile.uabb-row {
    display: none !important;
  }
  .fl-builder-content-editing .fl-visible-desktop-medium.uabb-row,
  .fl-builder-content-editing .fl-visible-medium-mobile.uabb-row,
  .fl-builder-content-editing .fl-visible-medium.uabb-row {
    display: block !important;
  }
}
@media (max-width: 768px) {
  .fl-builder-content-editing .fl-visible-desktop-medium.uabb-row,
  .fl-builder-content-editing .fl-visible-desktop.uabb-row,
  .fl-builder-content-editing .fl-visible-medium.uabb-row {
    display: none !important;
  }
  .fl-builder-content-editing .fl-visible-medium-mobile.uabb-row,
  .fl-builder-content-editing .fl-visible-mobile.uabb-row {
    display: block !important;
  }
}
.fl-responsive-preview-content .fl-builder-content-editing {
  overflow-x: hidden;
  overflow-y: visible;
}
.uabb-row-separator svg {
  width: 100%;
}
.uabb-top-row-separator.uabb-has-svg svg {
  position: absolute;
  padding: 0;
  margin: 0;
  left: 50%;
  top: -1px;
  bottom: auto;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.uabb-bottom-row-separator.uabb-has-svg svg {
  position: absolute;
  padding: 0;
  margin: 0;
  left: 50%;
  bottom: -1px;
  top: auto;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.uabb-bottom-row-separator.uabb-has-svg .uasvg-wave-separator {
  bottom: 0;
}
.uabb-top-row-separator.uabb-has-svg .uasvg-wave-separator {
  top: 0;
}
.uabb-bottom-row-separator.uabb-mul-triangles-separator svg,
.uabb-bottom-row-separator.uabb-stamp-separator svg,
.uabb-bottom-row-separator.uabb-svg-circle svg,
.uabb-bottom-row-separator.uabb-svg-triangle svg,
.uabb-bottom-row-separator.uabb-xlarge-circle svg,
.uabb-bottom-row-separator.uabb-xlarge-triangle svg,
.uabb-top-row-separator.uabb-grass-bend-separator svg,
.uabb-top-row-separator.uabb-grass-separator svg,
.uabb-top-row-separator.uabb-pine-tree-bend-separator svg,
.uabb-top-row-separator.uabb-pine-tree-separator svg,
.uabb-top-row-separator.uabb-slime-separator svg,
.uabb-top-row-separator.uabb-wave-separator svg,
.uabb-top-row-separator.uabb-wave-slide-separator svg,
.uabb-top-row-separator.uabb-xlarge-triangle-left svg {
  left: 50%;
  -webkit-transform: translateX(-50%) scaleY(-1);
  -moz-transform: translateX(-50%) scaleY(-1);
  -ms-transform: translateX(-50%) scaleY(-1);
  -o-transform: translateX(-50%) scaleY(-1);
  transform: translateX(-50%) scaleY(-1);
}
.uabb-bottom-row-separator.uabb-big-triangle svg {
  left: 50%;
  -webkit-transform: scale(1) scaleY(-1) translateX(-50%);
  -moz-transform: scale(1) scaleY(-1) translateX(-50%);
  -ms-transform: scale(1) scaleY(-1) translateX(-50%);
  -o-transform: scale(1) scaleY(-1) translateX(-50%);
  transform: scale(1) scaleY(-1) translateX(-50%);
}
.uabb-top-row-separator.uabb-big-triangle svg {
  left: 50%;
  -webkit-transform: translateX(-50%) scale(1);
  -moz-transform: translateX(-50%) scale(1);
  -ms-transform: translateX(-50%) scale(1);
  -o-transform: translateX(-50%) scale(1);
  transform: translateX(-50%) scale(1);
}
.uabb-top-row-separator.uabb-xlarge-triangle-right svg {
  left: 50%;
  -webkit-transform: translateX(-50%) scale(-1);
  -moz-transform: translateX(-50%) scale(-1);
  -ms-transform: translateX(-50%) scale(-1);
  -o-transform: translateX(-50%) scale(-1);
  transform: translateX(-50%) scale(-1);
}
.uabb-bottom-row-separator.uabb-xlarge-triangle-right svg {
  left: 50%;
  -webkit-transform: translateX(-50%) scaleX(-1);
  -moz-transform: translateX(-50%) scaleX(-1);
  -ms-transform: translateX(-50%) scaleX(-1);
  -o-transform: translateX(-50%) scaleX(-1);
  transform: translateX(-50%) scaleX(-1);
}
.uabb-top-row-separator.uabb-curve-up-separator svg {
  left: 50%;
  -webkit-transform: translateX(-50%) scaleY(-1);
  -moz-transform: translateX(-50%) scaleY(-1);
  -ms-transform: translateX(-50%) scaleY(-1);
  -o-transform: translateX(-50%) scaleY(-1);
  transform: translateX(-50%) scaleY(-1);
}
.uabb-top-row-separator.uabb-curve-down-separator svg {
  left: 50%;
  -webkit-transform: translateX(-50%) scale(-1);
  -moz-transform: translateX(-50%) scale(-1);
  -ms-transform: translateX(-50%) scale(-1);
  -o-transform: translateX(-50%) scale(-1);
  transform: translateX(-50%) scale(-1);
}
.uabb-bottom-row-separator.uabb-curve-down-separator svg {
  left: 50%;
  -webkit-transform: translateX(-50%) scaleX(-1);
  -moz-transform: translateX(-50%) scaleX(-1);
  -ms-transform: translateX(-50%) scaleX(-1);
  -o-transform: translateX(-50%) scaleX(-1);
  transform: translateX(-50%) scaleX(-1);
}
.uabb-top-row-separator.uabb-tilt-left-separator svg {
  left: 50%;
  -webkit-transform: translateX(-50%) scale(-1);
  -moz-transform: translateX(-50%) scale(-1);
  -ms-transform: translateX(-50%) scale(-1);
  -o-transform: translateX(-50%) scale(-1);
  transform: translateX(-50%) scale(-1);
}
.uabb-top-row-separator.uabb-tilt-right-separator svg {
  left: 50%;
  -webkit-transform: translateX(-50%) scaleY(-1);
  -moz-transform: translateX(-50%) scaleY(-1);
  -ms-transform: translateX(-50%) scaleY(-1);
  -o-transform: translateX(-50%) scaleY(-1);
  transform: translateX(-50%) scaleY(-1);
}
.uabb-bottom-row-separator.uabb-tilt-left-separator svg {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.uabb-bottom-row-separator.uabb-tilt-right-separator svg {
  left: 50%;
  -webkit-transform: translateX(-50%) scaleX(-1);
  -moz-transform: translateX(-50%) scaleX(-1);
  -ms-transform: translateX(-50%) scaleX(-1);
  -o-transform: translateX(-50%) scaleX(-1);
  transform: translateX(-50%) scaleX(-1);
}
.uabb-top-row-separator.uabb-tilt-left-separator,
.uabb-top-row-separator.uabb-tilt-right-separator {
  top: 0;
}
.uabb-bottom-row-separator.uabb-tilt-left-separator,
.uabb-bottom-row-separator.uabb-tilt-right-separator {
  bottom: 0;
}
.uabb-top-row-separator.uabb-arrow-inward-separator svg,
.uabb-top-row-separator.uabb-arrow-outward-separator svg,
.uabb-top-row-separator.uabb-cloud-separator svg,
.uabb-top-row-separator.uabb-multi-triangle svg {
  left: 50%;
  -webkit-transform: translateX(-50%) scaleY(-1);
  -moz-transform: translateX(-50%) scaleY(-1);
  -ms-transform: translateX(-50%) scaleY(-1);
  -o-transform: translateX(-50%) scaleY(-1);
  transform: translateX(-50%) scaleY(-1);
}
.uabb-bottom-row-separator.uabb-multi-triangle svg {
  bottom: -2px;
}
.uabb-row-separator.uabb-round-split:after,
.uabb-row-separator.uabb-round-split:before {
  left: 0;
  width: 50%;
  background: inherit inherit/inherit inherit inherit inherit;
  content: "";
  position: absolute;
}
.uabb-button-wrap a,
.uabb-button-wrap a:visited {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  text-shadow: none;
}
.fl-builder-content .uabb-button:hover {
  text-decoration: none;
}
.fl-builder-content .uabb-button-width-full .uabb-button {
  display: block;
  text-align: center;
}
.uabb-button-width-custom .uabb-button {
  display: inline-block;
  text-align: center;
  max-width: 100%;
}
.fl-builder-content .uabb-button-left {
  text-align: left;
}
.fl-builder-content .uabb-button-center {
  text-align: center;
}
.fl-builder-content .uabb-button-right {
  text-align: right;
}
.fl-builder-content .uabb-button i,
.fl-builder-content .uabb-button i:before {
  font-size: 1em;
  height: 1em;
  line-height: 1em;
  width: 1em;
}
.uabb-button .uabb-button-icon-after {
  margin-left: 8px;
  margin-right: 0;
}
.uabb-button .uabb-button-icon-before {
  margin-left: 0;
  margin-right: 8px;
}
.uabb-button .uabb-button-icon-no-text {
  margin: 0;
}
.uabb-button-has-icon .uabb-button-text {
  vertical-align: middle;
}
.uabb-icon-wrap {
  display: inline-block;
}
.uabb-icon a {
  text-decoration: none;
}
.uabb-icon i {
  display: block;
}
.uabb-icon i:before {
  border: none !important;
  background: 0 0 !important;
}
.uabb-icon-text {
  display: table-cell;
  text-align: left;
  padding-left: 15px;
  vertical-align: middle;
}
.uabb-icon-text :last-child {
  margin: 0 !important;
  padding: 0 !important;
}
.uabb-icon-text a {
  text-decoration: none;
}
.uabb-photo {
  line-height: 0;
  position: relative;
  z-index: 2;
}
.uabb-photo-align-left {
  text-align: left;
}
.uabb-photo-align-center {
  text-align: center;
}
.uabb-photo-align-right {
  text-align: right;
}
.uabb-photo-content {
  border-radius: 0;
  display: inline-block;
  line-height: 0;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.uabb-photo-content img {
  border-radius: inherit;
  display: inline;
  height: auto;
  max-width: 100%;
  width: auto;
}
.fl-builder-content .uabb-photo-crop-circle img {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.fl-builder-content .uabb-photo-crop-square img {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.uabb-photo-caption {
  font-size: 13px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.uabb-photo-caption-below {
  padding-bottom: 20px;
  padding-top: 10px;
}
.uabb-photo-caption-hover {
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  color: #fff;
  left: 0;
  opacity: 0;
  visibility: hidden;
  padding: 10px 15px;
  position: absolute;
  right: 0;
  -webkit-transition: visibility 0.2s linear;
  -moz-transition: visibility 0.2s linear;
  transition: visibility 0.2s linear;
}
.uabb-photo-content:hover .uabb-photo-caption-hover {
  opacity: 100;
  visibility: visible;
}
.uabb-active-btn {
  background: #1e8cbe;
  border-color: #0074a2;
  -webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6);
  box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6);
  color: #fff;
}
.fl-builder-bar .fl-builder-add-content-button {
  display: block !important;
  opacity: 1 !important;
}
.uabb-imgicon-wrap .uabb-icon {
  display: block;
}
.uabb-imgicon-wrap .uabb-icon i {
  float: none;
}
.uabb-imgicon-wrap .uabb-image {
  line-height: 0;
  position: relative;
}
.uabb-imgicon-wrap .uabb-image-align-left {
  text-align: left;
}
.uabb-imgicon-wrap .uabb-image-align-center {
  text-align: center;
}
.uabb-imgicon-wrap .uabb-image-align-right {
  text-align: right;
}
.uabb-imgicon-wrap .uabb-image-content {
  display: inline-block;
  border-radius: 0;
  line-height: 0;
  position: relative;
  max-width: 100%;
}
.uabb-imgicon-wrap .uabb-image-content img {
  display: inline;
  height: auto !important;
  max-width: 100%;
  width: auto;
  border-radius: inherit;
  box-shadow: none;
  box-sizing: content-box;
}
.fl-builder-content .uabb-imgicon-wrap .uabb-image-crop-circle img {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.fl-builder-content .uabb-imgicon-wrap .uabb-image-crop-square img {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.uabb-creative-button-wrap a,
.uabb-creative-button-wrap a:visited {
  background: #fafafa;
  border: 1px solid #ccc;
  color: #333;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  text-decoration: none;
  text-shadow: none;
  box-shadow: none;
  position: relative;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.uabb-creative-button-wrap a:focus {
  text-decoration: none;
  text-shadow: none;
  box-shadow: none;
}
.uabb-creative-button-wrap a .uabb-creative-button-icon,
.uabb-creative-button-wrap a .uabb-creative-button-text,
.uabb-creative-button-wrap a:visited .uabb-creative-button-icon,
.uabb-creative-button-wrap a:visited .uabb-creative-button-text {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.uabb-creative-button-wrap a:hover {
  text-decoration: none;
}
.uabb-creative-button-wrap
  .uabb-creative-button-width-full
  .uabb-creative-button {
  display: block;
  text-align: center;
}
.uabb-creative-button-wrap
  .uabb-creative-button-width-custom
  .uabb-creative-button {
  display: inline-block;
  text-align: center;
  max-width: 100%;
}
.uabb-creative-button-wrap .uabb-creative-button-left {
  text-align: left;
}
.uabb-creative-button-wrap .uabb-creative-button-center {
  text-align: center;
}
.uabb-creative-button-wrap .uabb-creative-button-right {
  text-align: right;
}
.uabb-creative-button-wrap .uabb-creative-button i {
  font-size: 1.3em;
  height: auto;
  vertical-align: middle;
  width: auto;
}
.uabb-creative-button-wrap
  .uabb-creative-button
  .uabb-creative-button-icon-after {
  margin-left: 8px;
  margin-right: 0;
}
.uabb-creative-button-wrap
  .uabb-creative-button
  .uabb-creative-button-icon-before {
  margin-right: 8px;
  margin-left: 0;
}
.uabb-creative-button-wrap.uabb-creative-button-icon-no-text
  .uabb-creative-button
  i {
  margin: 0;
}
.uabb-creative-button-wrap
  .uabb-creative-button-has-icon
  .uabb-creative-button-text {
  vertical-align: middle;
}
.uabb-creative-button.uabb-creative-transparent-btn {
  background: 0 0;
}
.uabb-creative-button.uabb-creative-transparent-btn:after {
  content: "";
  position: absolute;
  z-index: 1;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.uabb-transparent-fill-bottom-btn:after,
.uabb-transparent-fill-top-btn:after {
  width: 100%;
  height: 0;
  left: 0;
}
.uabb-transparent-fill-top-btn:after {
  top: 0;
}
.uabb-transparent-fill-bottom-btn:after {
  bottom: 0;
}
.uabb-transparent-fill-left-btn:after,
.uabb-transparent-fill-right-btn:after {
  width: 0;
  height: 100%;
  top: 0;
}
.uabb-transparent-fill-left-btn:after {
  left: 0;
}
.uabb-transparent-fill-right-btn:after {
  right: 0;
}
.uabb-transparent-fill-center-btn:after {
  width: 0;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.uabb-transparent-fill-diagonal-btn:after,
.uabb-transparent-fill-horizontal-btn:after {
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
}
.uabb-transparent-fill-diagonal-btn {
  overflow: hidden;
}
.uabb-transparent-fill-diagonal-btn:after {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.uabb-transparent-fill-horizontal-btn:after {
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_down-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_left-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_right-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_up-btn {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.perspective {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  perspective: 800px;
  margin: 0;
}
.uabb-creative-button.uabb-creative-threed-btn:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.uabb-creative-button.uabb-creative-threed-btn {
  outline: 1px solid transparent;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.uabb-creative-threed-btn.uabb-animate_top-btn:after {
  height: 40%;
  left: 0;
  top: -40%;
  width: 100%;
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
.uabb-creative-threed-btn.uabb-animate_bottom-btn:after {
  width: 100%;
  height: 40%;
  left: 0;
  top: 100%;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
.uabb-creative-threed-btn.uabb-animate_left-btn:after {
  width: 20%;
  height: 100%;
  left: -20%;
  top: 0;
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: rotateY(-60deg);
  -moz-transform: rotateY(-60deg);
  -ms-transform: rotateY(-60deg);
  transform: rotateY(-60deg);
}
.uabb-creative-threed-btn.uabb-animate_right-btn:after {
  width: 20%;
  height: 100%;
  left: 104%;
  top: 0;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotateY(120deg);
  -moz-transform: rotateY(120deg);
  -ms-transform: rotateY(120deg);
  transform: rotateY(120deg);
}
.uabb-animate_top-btn:hover {
  -webkit-transform: rotateX(-15deg);
  -moz-transform: rotateX(-15deg);
  -ms-transform: rotateX(-15deg);
  -o-transform: rotateX(-15deg);
  transform: rotateX(-15deg);
}
.uabb-animate_bottom-btn:hover {
  -webkit-transform: rotateX(15deg);
  -moz-transform: rotateX(15deg);
  -ms-transform: rotateX(15deg);
  -o-transform: rotateX(15deg);
  transform: rotateX(15deg);
}
.uabb-animate_left-btn:hover {
  -webkit-transform: rotateY(6deg);
  -moz-transform: rotateY(6deg);
  -ms-transform: rotateY(6deg);
  -o-transform: rotateY(6deg);
  transform: rotateY(6deg);
}
.uabb-animate_right-btn:hover {
  -webkit-transform: rotateY(-6deg);
  -moz-transform: rotateY(-6deg);
  -ms-transform: rotateY(-6deg);
  -o-transform: rotateY(-6deg);
  transform: rotateY(-6deg);
}
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn,
.uabb-creative-flat-btn.uabb-animate_from_top-btn,
.uabb-creative-flat-btn.uabb-animate_to_left-btn,
.uabb-creative-flat-btn.uabb-animate_to_right-btn {
  overflow: hidden;
  position: relative;
}
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i,
.uabb-creative-flat-btn.uabb-animate_from_top-btn i,
.uabb-creative-flat-btn.uabb-animate_to_left-btn i,
.uabb-creative-flat-btn.uabb-animate_to_right-btn i {
  bottom: 0;
  height: 100%;
  margin: 0;
  opacity: 1;
  position: absolute;
  right: 0;
  width: 100%;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn .uabb-button-text,
.uabb-creative-flat-btn.uabb-animate_from_top-btn .uabb-button-text,
.uabb-creative-flat-btn.uabb-animate_to_left-btn .uabb-button-text,
.uabb-creative-flat-btn.uabb-animate_to_right-btn .uabb-button-text {
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i:before,
.uabb-creative-flat-btn.uabb-animate_from_top-btn i:before,
.uabb-creative-flat-btn.uabb-animate_to_left-btn i:before,
.uabb-creative-flat-btn.uabb-animate_to_right-btn i:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.uabb-creative-flat-btn.uabb-animate_to_left-btn:hover i,
.uabb-creative-flat-btn.uabb-animate_to_right-btn:hover i {
  left: 0;
}
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover i,
.uabb-creative-flat-btn.uabb-animate_from_top-btn:hover i {
  top: 0;
}
.uabb-creative-flat-btn.uabb-animate_to_right-btn i {
  top: 0;
  left: -100%;
}
.uabb-creative-flat-btn.uabb-animate_to_right-btn:hover .uabb-button-text {
  -webkit-transform: translateX(200%);
  -moz-transform: translateX(200%);
  -ms-transform: translateX(200%);
  -o-transform: translateX(200%);
  transform: translateX(200%);
}
.uabb-creative-flat-btn.uabb-animate_to_left-btn i {
  top: 0;
  left: 100%;
}
.uabb-creative-flat-btn.uabb-animate_to_left-btn:hover .uabb-button-text {
  -webkit-transform: translateX(-200%);
  -moz-transform: translateX(-200%);
  -ms-transform: translateX(-200%);
  -o-transform: translateX(-200%);
  transform: translateX(-200%);
}
.uabb-creative-flat-btn.uabb-animate_from_top-btn i {
  top: -100%;
  left: 0;
}
.uabb-creative-flat-btn.uabb-animate_from_top-btn:hover .uabb-button-text {
  -webkit-transform: translateY(400px);
  -moz-transform: translateY(400px);
  -ms-transform: translateY(400px);
  -o-transform: translateY(400px);
  transform: translateY(400px);
}
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i {
  top: 100%;
  left: 0;
}
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover .uabb-button-text {
  -webkit-transform: translateY(-400px);
  -moz-transform: translateY(-400px);
  -ms-transform: translateY(-400px);
  -o-transform: translateY(-400px);
  transform: translateY(-400px);
}
.uabb-adv-accordion-content .mejs-container:not(.mejs-audio),
.uabb-adv-accordion-content .mejs-overlay.load,
.uabb-adv-accordion-content .wp-video,
.uabb-adv-accordion-content video.wp-video-shortcode,
.uabb-tab-acc-content .mejs-container:not(.mejs-audio),
.uabb-tab-acc-content .mejs-overlay.load,
.uabb-tab-acc-content .wp-video,
.uabb-tab-acc-content video.wp-video-shortcode {
  width: 100% !important;
  height: 100% !important;
}
.uabb-adv-accordion-content .mejs-container:not(.mejs-audio),
.uabb-tab-acc-content .mejs-container:not(.mejs-audio) {
  padding-top: 56.25%;
}
.uabb-adv-accordion-content .wp-video,
.uabb-adv-accordion-content video.wp-video-shortcode,
.uabb-tab-acc-content .wp-video,
.uabb-tab-acc-content video.wp-video-shortcode {
  max-width: 100% !important;
}
.uabb-adv-accordion-content video.wp-video-shortcode,
.uabb-tab-acc-content video.wp-video-shortcode {
  position: relative;
}
.uabb-adv-accordion-content .mejs-container:not(.mejs-audio) .mejs-mediaelement,
.uabb-tab-acc-content .mejs-container:not(.mejs-audio) .mejs-mediaelement {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.uabb-adv-accordion-content .mejs-overlay-play,
.uabb-tab-acc-content .mejs-overlay-play {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto !important;
  height: auto !important;
}
.fl-row-content-wrap .uabb-row-particles-background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.uabb-col-particles-background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.uabb-js-breakpoint {
  content: "default";
  display: none;
}
@media screen and (max-width: 992px) {
  .uabb-js-breakpoint {
    content: "992";
  }
}
@media screen and (max-width: 768px) {
  .uabb-js-breakpoint {
    content: "768";
  }
}
.njba-btn-main a.njba-btn {
  text-decoration: none;
  position: relative;
}
.njba-btn-main a:active,
.njba-btn-main a:focus,
.njba-btn-main a:hover {
  text-decoration: none;
}
.njba-btn-main a:active,
.njba-btn-main a:focus {
  outline: 0;
}
.njba-btn-main a.njba-btn:before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition-property: transform;
  -moz-transition-property: transform;
  -o-transition-property: transform;
  -ms-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.njba-row-separator {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 1;
}
.njba-top-row-separator {
  top: -1px;
  bottom: auto;
}
.njba-bottom-row-separator {
  top: auto;
  bottom: -1px;
}
.njba-top-row-separator.njba-has-svg svg {
  position: absolute;
  padding: 0;
  margin: 0;
  left: 0;
  top: -1px;
  bottom: auto;
  width: 100%;
}
.njba-bottom-row-separator.njba-has-svg svg {
  position: absolute;
  padding: 0;
  margin: 0;
  left: 0;
  bottom: -1px;
  top: auto;
  width: 100%;
}
.njba-bottom-row-separator.njba-has-svg .uasvg-wave-separator {
  bottom: 0;
}
.njba-top-row-separator.njba-has-svg .uasvg-wave-separator {
  top: 0;
}
.njba-bottom-row-separator.njba-svg-circle svg,
.njba-bottom-row-separator.njba-svg-triangle svg,
.njba-bottom-row-separator.njba-xlarge-circle svg,
.njba-bottom-row-separator.njba-xlarge-triangle svg,
.njba-top-row-separator.njba-wave-separator svg,
.njba-top-row-separator.njba-xlarge-triangle-left svg {
  -webkit-transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1);
}
.njba-top-row-separator.njba-xlarge-triangle-right svg {
  -webkit-transform: scale(-1);
  -moz-transform: scale(-1);
  -ms-transform: scale(-1);
  -o-transform: scale(-1);
  transform: scale(-1);
}
.njba-bottom-row-separator.njba-xlarge-triangle-right svg {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}
.njba-top-row-separator.njba-curve-up-separator svg {
  -webkit-transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1);
}
.njba-top-row-separator.njba-curve-down-separator svg {
  -webkit-transform: scale(-1);
  -moz-transform: scale(-1);
  -ms-transform: scale(-1);
  -o-transform: scale(-1);
  transform: scale(-1);
}
.njba-bottom-row-separator.njba-curve-down-separator svg {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}
.njba-top-row-separator.njba-tilt-left-separator svg {
  -webkit-transform: scale(-1);
  -moz-transform: scale(-1);
  -ms-transform: scale(-1);
  -o-transform: scale(-1);
  transform: scale(-1);
}
.njba-top-row-separator.njba-tilt-right-separator svg {
  -webkit-transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1);
}
.njba-bottom-row-separator.njba-tilt-right-separator svg {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}
.njba-row-separator.njba-cloud-separator svg {
  left: -1px;
  width: 100%;
}
.njba-top-row-separator.njba-cloud-separator svg,
.njba-top-row-separator.njba-multi-triangle svg {
  -webkit-transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1);
}
.njba-row-separator.njba-round-split {
  z-index: 1;
}
.njba-row-separator.njba-round-split:after,
.njba-row-separator.njba-round-split:before {
  left: 0;
  z-index: 10;
  width: 50%;
  background: inherit inherit/inherit inherit inherit inherit;
  content: "";
  position: absolute;
}
.fl-content-full.container {
  max-width: none;
  width: auto;
  margin: 0;
  padding: 0;
}
.fl-module-content-slider .bx-wrapper {
  margin-bottom: 0;
}
.fl-module-content-slider .bx-wrapper .bx-pager {
  bottom: 20px;
  padding: 0;
  z-index: 5;
}
.fl-module-content-slider .bx-wrapper .bx-pager .bx-pager-item a {
  background: #fff;
  border: 2px solid #fff;
  width: 12px;
  height: 12px;
}
.fl-module-content-slider .bx-wrapper .bx-pager.bx-default-pager a.active,
.fl-module-content-slider .bx-wrapper .bx-pager.bx-default-pager a:focus,
.fl-module-content-slider .bx-wrapper .bx-pager.bx-default-pager a:hover {
  background: 0 0;
}
.sixColumn_menu_childLinks
  > .wp-megamenu-sub-menu
  > li.headingOfChildMenu
  a
  > h2 {
  margin: 0;
  font-family: "Playfair Display" !important;
  font-size: 22px !important;
  line-height: 33px;
  color: #000 !important;
  font-weight: 500 !important;
}
.sixColumn_menu_childLinks > .wp-megamenu-sub-menu > li.headingOfChildMenu a,
.sixColumn_menu_childLinks
  > .wp-megamenu-sub-menu
  > li.headingOfChildMenu
  a:hover {
  cursor: default;
  text-decoration: none;
}
.footer-menu-section ul {
  display: flex !important;
  justify-content: space-evenly;
}
.footer-menu-section ul li {
  display: inline;
}
.footer-menu-section hamburger {
  display: none;
}
.home-page-slider .fl-module-content-slider .bx-wrapper .bx-pager {
  bottom: 120px;
}
footer {
  font-family: Montserrat;
  font-weight: 500;
  line-height: 15px;
}
.fl-page-bar,
footer {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
}
.col-shadow {
  box-shadow: 0 1px 5px 0 #666;
}
.col-left-blue-border {
  border-left: 4px solid #094368;
  margin: 80px 1px 0 0;
  padding: 0 0 0 10px;
}
.page-id-302723 .col-left-blue-border,
.page-id-303358 .col-left-blue-border,
.page-id-303402 .col-left-blue-border{
  border-left: 4px solid #094368;
  margin: 115px 1px 0 0;
  padding: 20px 0 0 10px;
}
.page-id-303446 .col-left-blue-border,
.page-id-303416 .col-left-blue-border{
    border-left: 4px solid #094368;
    margin: 52px 1px 0 0;
    padding: 20px 0 0 10px;
}
.col-left-blue-border > div {
  margin: 0 20px 20px 16px;
}
.project-gallery .fl-photo-caption-below {
  text-align: left !important;
}
.fl-post-grid-gallery {
  width: 300px;
  height: 300px;
}
.gallery-menu ul li a:hover {
  text-decoration: none;
}
header nav.wpmm-sticky-wrap .wpmm-nav-wrap .wpmm_brand_logo_wrap a {
  display: block;
  width: 60%;
  margin-bottom: 20px;
}
.backgroundGredientbottomTotop {
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0,
    rgba(255, 255, 255, 1) 65%,
    rgba(251, 254, 249, 1) 65%,
    rgba(251, 254, 249, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0, rgba(255, 255, 255, 1)),
    color-stop(65%, rgba(255, 255, 255, 1)),
    color-stop(65%, rgba(251, 254, 249, 1)),
    color-stop(100%, rgba(251, 254, 249, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0,
    rgba(255, 255, 255, 1) 65%,
    rgba(251, 254, 249, 1) 65%,
    rgba(251, 254, 249, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0,
    rgba(255, 255, 255, 1) 65%,
    rgba(251, 254, 249, 1) 65%,
    rgba(251, 254, 249, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0,
    rgba(255, 255, 255, 1) 65%,
    rgba(251, 254, 249, 1) 65%,
    rgba(251, 254, 249, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0,
    rgba(255, 255, 255, 1) 65%,
    rgba(251, 254, 249, 1) 65%,
    rgba(251, 254, 249, 1) 100%
  );
}
.gredientTop {
  background: rgba(251, 254, 249, 1);
  background: -moz-linear-gradient(
    top,
    rgba(251, 254, 249, 1) 0,
    rgba(251, 254, 249, 1) 35%,
    rgba(255, 255, 255, 1) 35%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0, rgba(251, 254, 249, 1)),
    color-stop(35%, rgba(251, 254, 249, 1)),
    color-stop(35%, rgba(255, 255, 255, 1)),
    color-stop(100%, rgba(255, 255, 255, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(251, 254, 249, 1) 0,
    rgba(251, 254, 249, 1) 35%,
    rgba(255, 255, 255, 1) 35%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(251, 254, 249, 1) 0,
    rgba(251, 254, 249, 1) 35%,
    rgba(255, 255, 255, 1) 35%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(251, 254, 249, 1) 0,
    rgba(251, 254, 249, 1) 35%,
    rgba(255, 255, 255, 1) 35%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(251, 254, 249, 1) 0,
    rgba(251, 254, 249, 1) 35%,
    rgba(255, 255, 255, 1) 35%,
    rgba(255, 255, 255, 1) 100%
  );
}
.locationGredient {
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0,
    rgba(255, 255, 255, 1) 45%,
    rgba(251, 254, 249, 1) 45%,
    rgba(251, 254, 249, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0, rgba(255, 255, 255, 1)),
    color-stop(45%, rgba(255, 255, 255, 1)),
    color-stop(45%, rgba(251, 254, 249, 1)),
    color-stop(100%, rgba(251, 254, 249, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0,
    rgba(255, 255, 255, 1) 45%,
    rgba(251, 254, 249, 1) 45%,
    rgba(251, 254, 249, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0,
    rgba(255, 255, 255, 1) 45%,
    rgba(251, 254, 249, 1) 45%,
    rgba(251, 254, 249, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0,
    rgba(255, 255, 255, 1) 45%,
    rgba(251, 254, 249, 1) 45%,
    rgba(251, 254, 249, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0,
    rgba(255, 255, 255, 1) 45%,
    rgba(251, 254, 249, 1) 45%,
    rgba(251, 254, 249, 1) 100%
  );
}
.sliderCaption-center .fl-slide-content {
  text-align: center;
}
.sliderCaption-center .fl-slide-content .fl-slide-text > h2 {
  font-family: "Playfair Display";
}
.sliderCaption-center .fl-slide-content .fl-slide-text > h6 {
  margin-bottom: 0 !important;
}
.pittsburghPaints .fl-module {
  max-width: 550px;
}
.buttonCenter .fl-slide-text-right .fl-slide-content-wrap {
  text-align: center;
}
.tabRow nav.uabb-tabs-nav {
  padding: 10px 0;
  background: #fff;
}
.product-row .product-grid {
  text-align: center;
}
.product-row .product-grid .fl-post-grid-title {
  font-size: 22px;
}
.product-row .product-grid .fl-post-grid-title a {
  min-height: 46px;
  display: block;
}
.product-row .product-grid .fl-button {
  margin-bottom: 10px;
}
.product-detail-layout-4 .button-wrapper .button,
.product-detail-layout-5 .button-wrapper .button {
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 20px 15px;
}
.product-detail-layout-4 .button-wrapper .button.alt,
.product-detail-layout-4 .button-wrapper .button:hover,
.product-detail-layout-5 .button-wrapper .button.alt,
.product-detail-layout-5 .button-wrapper .button:hover {
  background-color: #094368;
  color: #fff;
  text-decoration: none;
  border-color: #094368;
}
.product-detail-layout-4 .button-wrapper .button,
.product-detail-layout-5 .button-wrapper .button {
  background: #eb9750;
  border-color: #eb9750;
  color: #fff;
}
.product-detail-layout-4 .button-wrapper .button.alt:hover,
.product-detail-layout-5 .button-wrapper .button.alt:hover {
  color: #000;
  background: #fff;
}
.product-detail-layout-4 .button-wrapper a {
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  color: #000;
}
.product-variations {
  background: #fbfef9;
  text-align: center;
  width: 100vw;
  position: relative;
  margin-left: -50vw !important;
  left: 50%;
}
.product-variations .fr-slider {
  max-width: 1100px;
  margin: 0 auto;
}
.product-variations > h3 {
  font-family: "Playfair Display";
  font-size: 12px;
}
.product-detail-layout-6 .product-variations{
    width: 100%;
    position: static;
    margin-left: 0px !important;
}
.full-width-img .fl-photo-content,
.full-width-img .fl-photo-content img.fl-photo-img {
  width: 100%;
}
.storename {
  padding: 0;
  list-style: none;
}
ul.store-opening-hrs {
  padding: 0;
  list-style: none;
}
.fa {
  font-family: FontAwesome !important;
}
.advSearch .fl-icon {
  cursor: pointer;
}
.searchHeader {
  display: none;
  position: absolute;
  z-index: 11;
  right: 0;
  left: 0;
}
.location-address .address p {
  display: inline !important;
  margin-right: 5px !important;
  font-family: sans-serif !important;
}
.product-box a.fl-button.view_more {
  background: #094368;
  border-color: #094368;
}
.product-box a.fl-button {
  font-size: 13px;
  padding: 10px 20px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  width: 180px !important;
  display: block;
  text-align: center;
}
.product-box a.fl-button.view_more:hover {
  background: 0 0;
}
.product-box a.fl-button:hover {
  text-decoration: none;
}
.phone a span,
.store-opening-hrs {
  font-family: sans-serif !important;
  font-size: 13px;
}
ul.store-opening-hrs li {
  font-size: 14px;
  font-weight: 700;
}
ul.store-opening-hrs li span {
  font-size: 14px;
  font-weight: 400;
}
#menu-copyright-bar-menu {
  display: inline-block;
}
#masthead .menu .sub-menu .uabb-menu-toggle {
  transform: rotateZ(-90deg) translate(-5px, 5px);
  -webkit-transform: rotateZ(-90deg) translate(-5px, 5px);
  -moz-transform: rotateZ(-90deg) translate(-5px, 5px);
  -o-transform: rotateZ(-90deg) translate(-5px, 5px);
  -ms-transform: rotateZ(-90deg) translate(-5px, 5px);
}
#masthead .menu .sub-menu li:hover > .uabb-has-submenu-container > a,
#masthead .menu .sub-menu li:hover > a {
  background-color: #fca75f;
}
.get-direction-button .direction a {
  width: 250px;
  font-weight: 600;
  text-align: center;
  padding: 20px 0;
  font-size: 12px;
}
.color_variations_slider .slick-slider {
  max-width: 90%;
  margin: 0 auto;
}
li.gfield.field_msg {
  margin: 20px 0 -20px !important;
  font-size: 12px;
  color: #790000;
  font-weight: 600;
}
.gfield a:focus,
.gfield a:hover {
  text-decoration: underline !important;
}
.fl-page-bar .fl-page-bar-container .text-left .fl-page-bar-text-1 ul {
  display: inline-block;
}
.fl-page-bar .fl-page-bar-container .text-left .fl-page-bar-text {
  padding-bottom: 0;
  font-size: 14px;
  width: 100%;
}
.fl-page-bar .fl-page-bar-container .text-right ul li a {
  padding-top: 15px;
}
.gform_wrapper .gfield_time_hour i {
  margin-top: -3% !important;
}
@media (max-width: 1080px) {
  .megaMenuMain .wpmm-nav-wrap #menu-main-menu {
    text-align: right;
  }
  #responsive-menu-additional-content ul li .phone a {
    color: #fff;
  }
  .container {
    width: 100% !important;
  }
  .fl-page-bar-container {
    padding: 5px 20px 5px;
  }
  header {
    padding: 0 20px;
  }
  .three-image-section .uabb-new-ib-title {
    font-size: 25px;
  }
  .galleryMenu .fl-menu-responsive-toggle-medium-mobile .fl-menu-mobile-toggle {
    background: #094368;
  }
  .galleryMenu
    .fl-menu-responsive-toggle-medium-mobile
    .fl-menu-mobile-toggle
    span:hover {
    color: #fff !important;
  }
  .active-gallery-modal .fl-row-content-wrap {
    max-width: 1000px;
  }
  .fl-page-bar .fl-page-bar-container .text-right ul li a {
    font-size: 11px;
    padding: 2px 6px;
  }
  .fl-node-5cb4cda127687
    .uabb-creative-menu.uabb-menu-default
    .menu
    > li
    > .uabb-has-submenu-container
    > a,
  .uabb-creative-menu.uabb-menu-default .menu > li > a {
    padding-right: 10px !important;
    font-size: 16px !important;
  }
  .product-box.pdp2-leftbox {
    margin-left: 0;
    width: 45%;
  }
  .active-gallery-modal .product-box {
    padding: 40px 15px;
    float: left;
  }
  .active-gallery-modal .fl-row-content-wrap > .row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  .active-gallery-modal row > div {
    flex: 1;
  }
  .galleryMenu .menu-item > a {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  #responsive-menu-container #responsive-menu li.responsive-menu-item a {
    text-transform: uppercase;
  }
  .gfield_time_ampm.ginput_container.ginput_container_time {
    max-width: 60px;
    width: 100%;
    position: relative;
    display: inline;
  }
  .gfield_time_ampm.ginput_container.ginput_container_time > select,
  .gform_wrapper.gf_browser_chrome .gfield_time_ampm select {
    width: 100% !important;
    max-width: 100% !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0.5em;
    background: #efefef;
    border: none;
    border-radius: 3px;
    padding: 8px 8px;
    font-size: 1em;
  }
  .gfield_time_ampm.ginput_container.ginput_container_time:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    pointer-events: none;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 1em;
    right: 1em;
    border-top: 8px solid #000;
    opacity: 0.5;
  }
}
@media (max-width: 769px) {
  .wpmm-mobile-menu a.wpmm_mobile_menu_btn {
    display: none !important;
  }
  .headerWrapper .wpmm_brand_logo_wrap {
    float: none !important;
    text-align: center;
    width: 100%;
  }
  .headerWrapper .wpmm_brand_logo_wrap img {
    margin: 0;
  }
  button#responsive-menu-button {
    top: 100px !important;
  }
  #djcustom-footer .responsive-footer-menu ul#menu-footer-prods,
  #djcustom-footer .responsive-footer-menu ul#menu-footer-top-bar {
    display: flex;
    justify-content: center;
  }
  #menu-copyright-bar-menu {
    display: flex;
    justify-content: center;
  }
  .pittsburghPaints .fl-module {
    max-width: 100%;
  }
}
@media (max-width: 992px) {
  .three-image-section {
    width: calc(100% / 3) !important;
    display: inline-block !important;
    max-width: calc(100% / 3) !important;
    float: left;
    clear: none;
  }
  .three-image-section .uabb-new-ib-title {
    font-size: 28px;
  }
  .fl-page-bar .fl-page-bar-container .text-left {
    width: 100% !important;
    text-align: center;
  }
  .fl-page-bar .fl-page-bar-container .text-right {
    display: none !important;
  }
  .fl-menu .fl-menu-mobile-toggle,
  .fl-menu .fl-menu-mobile-toggle span {
    background: #5a5a5a !important;
    color: #fff !important;
  }
  .fl-menu .fl-menu-mobile-toggle.fl-active {
    background: #c5c5c5 !important;
  }
  .fl-menu .fl-menu-mobile-toggle.fl-active span {
    background: #c5c5c5 !important;
    color: #333 !important;
  }
  ul#menu-flooring-gallery-menu {
    background: #03446c;
  }
  ul#menu-flooring-gallery-menu > li.current_page_item {
    background: #f5f5f5;
  }
  .product-box a.fl-button,
  .product-box a.fl-button.view_more {
    margin: 0 auto;
  }
  .col-left-blue-border {
    margin: 20px 1px 0 0;
  }
  .product-row > div.col-md-3:nth-child(4n + 1) {
    clear: none !important;
  }
}
@media (max-width: 768px){
button#responsive-menu-button {
    top: 120px !important;
}
}
@media (max-width: 767px) {
  header .uabb-creative-menu-mobile-toggle-container {
    display: none;
  }
  .storename {
    margin-bottom: 0;
  }
  #responsive-menu-container
    #responsive-menu
    li.responsive-menu-item
    .responsive-menu-item-link {
    text-transform: uppercase;
  }
  .copy-right-responsive .fl-module-menu .fl-menu #menu-copyright-bar-menu {
    width: 100%;
  }
  .copy-right-responsive .fl-module-menu .fl-menu #menu-copyright-bar-menu li {
    display: inline-block;
  }
  .copy-right-responsive
    .fl-module-menu
    .fl-menu
    #menu-copyright-bar-menu
    li
    a {
    padding: 5px;
  }
  .gform_wrapper .top_label input.large.datepicker,
  .gform_wrapper .top_label input.medium.datepicker,
  .gform_wrapper .top_label input.small.datepicker {
    width: 100% !important;
    white-space: nowrap;
  }
  .gform_wrapper.gf_browser_chrome .gfield_time_ampm select {
    max-width: auto !important;
    width: 100px !important;
    max-width: 60px !important;
    white-space: nowrap;
  }
  .gform_wrapper
    ul.gform_fields
    li.gfield.gfield_error
    + li.gfield.gfield_error {
    margin-top: 16px !important;
  }
  #djcustom-footer .responsive-footer-menu ul#menu-footer-prods,
  #djcustom-footer .responsive-footer-menu ul#menu-footer-top-bar {
    flex-direction: column;
    align-items: center;
  }
  #djcustom-footer
    .hammer-footerbottom
    .responsive-footer-menu
    ul#menu-footer-prods
    a {
    padding: 15px 0;
  }
}
@media (max-width: 757px) {
  button#responsive-menu-button {
    top: 100px !important;
  }
}
@media (max-width: 643px) {
    .responsive-footer-menu{
        width: 100%!important;
    }
    .fl-builder-content .fl-node-5cd9a2dd53b3f {
        width: 100% !important;
    }
  .three-image-section {
    width: 100% !important;
    display: block;
    max-width: none !important;
  }
  #djcustom-footer .responsive-footer-menu {
    width: 100% !important;
    display: block;
  }
  .menu-footer-topbar-menu {
    display: block !important;
    text-align: center;
  }
}
@media (max-width: 425px) {
    .fl-node-5cb4cd7fa5137 .uabb-photo-mob-align-center {
      text-align: left!important;
    }
  }
header .uabb-photo-content img {
  height: 80px;
}
#menu-footer-topbar-menu {
  display: block !important;
}
#menu-footer-topbar-menu li a {
  margin: 0 15px;
}
/* .product-grid .product-row > div {
  width: 100% !important;
} */
#menu-footer-topbar-menu li a {
  margin: 0 10px;
}
.get-direction-button .direction a:hover span {
  color: #fff !important;
}
.admin-bar .mfp-wrap .mfp-close:hover {
  color: #fff !important;
}
